body {
  background-color: #151515;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
  color:white;

}

/* Navigation menu */
.header{
  height:4vh;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
  text-align: center;
}
.header li a {
  color: white;
  font-weight:normal;
  text-decoration: none;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top:1vh;
  display: inline-block;
  padding-left:1vw;
  padding-right:1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size:1.6vw;
}
.content {
  background-color: #151515;
  color: black;
}

.active {
  border-bottom-style:solid;
  border-bottom-width:thin;
}

/* Content on homepage */
.homecontent{
  padding:20px;
  text-align: center;
  color:white;
  font-weight: bold;
}

h2 {
  font-size: 2.7vw;
}

p{
  font-size: 1.5vw;
}

.homecontainer{
  background-image: url(./pictures/background.jpg);
  height:90vh;
  background-position: center center;
  justify-content: flex-end;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}

.footer{
  position: absolute;
 bottom: 0;
 color:white;
 text-align: center;
 height:2.5rem;
 text-align: center;
 width: 100vw;
}

/* Mobile only fontsizes */
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 6.8vw;
    font-weight:bold;
  }
  P {
    font-size: 3.6vw;
  }
  .header li a {
    font-size: 3.2vw;
  }
}
