body {
  /* background-color: #151515; */
  background-color: #1A1A1A;
  margin: 0;
  padding:0;
}
html, h1, h2, p, ul, li {
  font-family: sans-serif;
  color:white;

}

/* Navigation menu */
.header{
  height:4vh;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
  text-align: center;
}
.header li a {
  color: white;
  font-weight:normal;
  text-decoration: none;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top:1vh;
  display: inline-block;
  padding-left:1vw;
  padding-right:1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size:1.6vw;
}
.content {
  background-color: #1A1A1A;
  color: black;
}

.active {
  border-bottom-style:solid;
  border-bottom-width:thin;
}

/* Content on homepage */
.homecontent{
  padding:20px;
  text-align: center;
  color:white;
  font-weight: bold;
}

h2 {
  font-size: 2.7vw;
  text-shadow: 0.1vw 0.1vw #000000;
}

p{
  font-size: 1.5vw;
  text-shadow: 0.1vw 0.1vw #000000;
}

.homecontainer{
  background-image: url(./pictures/background.jpg);
  height:90vh;
  background-position: center center;
  justify-content: flex-end;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}

/* Content on aboutpage */
.aboutcontent{
  padding:20px;
  text-align: center;
  color:white;
  font-weight: bold;
  margin-left: 10vw;
  margin-right: 10vw;
}

.aboutdescription{
  text-align: left;
}

.aboutfoto{
  margin-top:5vh;
  height:20vw;
  width:20vw;
  border-radius: 50%;
}

/* Content on workpage */
.workcontent{
  padding: 20px;
}
.cardwrap{
  height:100vh;
}
.workproject{
  height:40vh;
}
.cardh2font{
  text-align: center;
}

.cardpfont{
  padding:10px;
}

/* ProgressBar */
.progresswrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction:column;
  margin-left: 30vw;
  width: 68vw;
  height:86vh;
  justify-content: center;
  margin-bottom:7vh;
}


.workskill{
  overflow: hidden;
  padding-left: 5vw;
}

.progress {
	background-color: #F8F8F8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 5vh;
	width: 25vw;
  float:left;
}

.progress-done {
	background: linear-gradient(to left, #C0C0C0, black);
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

/* Mobile only fontsizes */
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 6.8vw;
    font-weight:bold;
  }
  P {
    font-size: 3.6vw;
  }
  .header li a {
    font-size: 3.2vw;
  }
  /* Mobile only workpage */
  .workproject{
    height:26vh;
    position: relative;
  }
   .cardh2font{
     font-size: 5.2vw;
   }
   .cardpfont{
     font-size:3vw;
   }
   .progress {
   	height: 3.8vh;
   	width:100%;
   }
   .aboutfoto{
     height:45vw;
     width:45vw;
   }
   /* Mobile only footer */
   .footer{
     font-size: 3.2vw!important;
   }
}
